= render "shared/header"
.user__mypage
  = render 'shared/sidebar'

  .user__mypage__creditbox
    .user__mypage__creditbox__title
      .user__mypage__creditbox__title__message
        %h1
        支払い方法

    %section.user__mypage__creditbox__card
      .user__mypage__creditbox__card__list
        .user__mypage__creditbox__card__list__message
          クレジットカード一覧
        .user__mypage__creditbox__card__add

        - if @card.blank?

          = link_to new_card_path do
            %button{type: "submit" ,class: "user__mypage__creditbox__card__add__red"}
              %i.fa.fa-credit-card
              クレジットカードを追加する
        - else
          %label 登録クレジットカード情報
          %br
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
          = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
            %button{type: "submit" ,class: "user__mypage__creditbox__card__add__red"}
              削除する
        
      
      .user__mypage__creditbox__card__change
        = link_to "https://www.mercari.com/jp/help_center/category/6/" do
          支払い方法について
          %i.fa.fa-chevron-right

        

= render "shared/footer"