= render "shared/header"
- breadcrumb :identification
= render "shared/breadcrumbs"
.user-identi
  .user-identi__container
    .user-identi__container__side
      = render "shared/sidebar"
    .user-identi__contents
      %h2.user-identi__contents__head
        本人情報の登録
      .user-identi__content
        .user-identi__content__text
          お客さまの本人情報をご登録ください。<br>
          登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          = link_to "本人確認書類のアップデートについて"
          = fa_icon 'chevron-right', class: "icon01"
      .identi-form
        .identi-form__name
          %p お名前<br>
          = @user.name_first
          = @user.name_last
        .identi-form__kananame
          %p お名前カナ<br>
          = @user.name_kana_first
          = @user.name_kana_last
        .identi-form__birthday
          %p 生年月日<br>
          = @user.birthday
        = form_for @address do |f|
          .identi-form__input
            = f.label :郵便番号, class: "identi-label"
            %span 任意
            = f.text_field :post_number, class: 'identi-input', placeholder: "例)542-0076", autofocus: true, autocomplete: "post_number"
          .identi-form__input
            = f.label :都道府県, class: "identi-label"
            %span 任意
            = f.select :prefecture, Item.regions.keys, {}, {class: 'field-first-input'}
            -# = fa_icon 'angle-down', class: "identi_icon"
          .identi-form__input
            = f.label :市区町村, class: "identi-label"
            %span 任意
            = f.text_field :city, class: 'identi-input', placeholder: "例)大阪市中央区難波", autofocus: true, autocomplete: "post_city"
          .identi-form__input
            = f.label :番地, class: "identi-label"
            %span 任意
            = f.text_field :house_number, class: 'identi-input', placeholder: "例)5丁目1-60", autofocus: true, autocomplete: "house_number"
          .identi-form__input
            = f.label :建物名, class: "identi-label"
            %span 任意
            = f.text_field :building, class: 'identi-input', placeholder: "例)なんばスカイオ", autofocus: true, autocomplete: "building"
          .identi-form__input
            = f.submit '登録する', class: 'identi-save'
          .user-identi__content__text
            = link_to "本人確認書類のアップデートについて"
%aside.bottom
  .aaa
  .bottom__contents
    .bottom__contents__centerd
      .bottom__contents__centerd__left
        .bottom__contents__centerd__left-title スマホでかんたんフリマアプリ
        .bottom__contents__centerd__left-sub 今すぐ無料ダウンロード！
        .div
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', class:'bottom__contents__centerd__left-img'
          = link_to root_path do
            = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class:'bottom__contents__centerd__left-app'
          = link_to root_path do
            = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class:'bottom__contents__centerd__left-ggl'
      %figure.bottom__contents__centerd__right
        = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png', class:'bottom__contents__centerd__right-smartphone'
= render "shared/footer"