.user__mypage__sidebar
  .user__mypage__sidebars
    %ul.user__mypage__sidebars
      %li.user__mypage__sidebars__top
        = link_to user_path(current_user.id) do
          マイページ
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/notification/' do
          お知らせ
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/todo/' do
          やることリスト
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/like/history/' do
          いいね！一覧
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/sell/' do
          出品する
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/listings/listing/' do
          出品した商品-出品中
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/listings/completed/' do
          出品した商品-売却済み
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/purchase/' do
          購入した商品-取引中
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/purchased/' do
          購入した商品-過去の取引
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/news/' do
          ニュース一覧
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/review/history/' do
          評価一覧
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/help_center/' do
          ガイド
          %i.fa.fa-chevron-right
      %li.user__mypage__sidebars__item
        = link_to '/jp/mypage/support/' do
          お問い合わせ
          %i.fa.fa-chevron-right


    .user__mypage__sidebars__middle
      %pメルペイ
      %ul.user__mypage__sidebars
        %li.user__mypage__sidebars__item
          = link_to '/jp/mypage/sales/' do
            売上
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to '/jp/mypage/point/' do
            ポイント
            %i.fa.fa-chevron-right
    .user__mypage__sidebars__bottom
      %p設定
      %ul.user__mypage__sidebars
        %li.user__mypage__sidebars__item
          = link_to plofile_user_path(current_user.id) do
            プロフィール
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to '/jp/mypage/deliver_address/' do
            発送元・お届け先住所変更
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to credit_user_path do
            支払い変更
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to '/jp/mypage/email_password/' do
            メール/パスワード
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to '/jp/mypage/identification/' do
            本人情報
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to '/jp/mypage/sms_confirmation/' do
            電話番号の確認
            %i.fa.fa-chevron-right
        %li.user__mypage__sidebars__item
          = link_to '/jp/logout/' do
            ログアウト
            %i.fa.fa-chevron-right