= render "shared/header"
.wrapper
  .contents
    .slideshow
      .slideshow__draw
    .topcategories
      %h2.topcategories__title 人気のカテゴリー
      .topcategories__box
        %ul.topcategories__box__lists
          %li.topcategories__box__lists__left
            = link_to root_path do
              .topcategories__box__lists__left__button レディース
          %li.topcategories__box__lists__right
            = link_to root_path do
              .topcategories__box__lists__right__button メンズ
          %li.topcategories__box__lists__right
            = link_to root_path do
              .topcategories__box__lists__right__button 家電・スマホ・カメラ
          %li.topcategories__box__lists__right
            = link_to root_path do
              .topcategories__box__lists__right__button おもちゃ・ホビー・グッズ
    .itemwrap
      .itemlist
        .itemlist__top
          %h3.itemlist__top-title レディース新着アイテム
          = link_to root_path do
            .itemlist__top-more もっと見る
        .itemlist__main
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title メンズ新着アイテム
          = link_to root_path do
            .itemlist__top-more もっと見る
        .itemlist__main
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title 家電・スマホ・カメラ新着アイテム
          = link_to root_path do
            .itemlist__top-more もっと見る
        .itemlist__main
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
    .topcategories
      %h2.topcategories__title 人気のブランド
      .topcategories__box
        %ul.topcategories__box__lists
          %li.topcategories__box__lists__left
            = link_to root_path do
              .topcategories__box__lists__left__button ナイキ
          %li.topcategories__box__lists__right
            = link_to root_path do
              .topcategories__box__lists__right__button アディダス
          %li.topcategories__box__lists__right
            = link_to root_path do
              .topcategories__box__lists__right__button シュプリーム
          %li.topcategories__box__lists__right
            = link_to root_path do
              .topcategories__box__lists__right__button エルメス
    .itemwrap
      .itemlist
        .itemlist__top
          %h3.itemlist__top-title ナイキ新着アイテム
          = link_to root_path do
            .itemlist__top-more もっと見る
        .itemlist__main
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title アディダス新着アイテム
          = link_to root_path do
            .itemlist__top-more もっと見る
        .itemlist__main
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
          .card
            = link_to root_path do
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  = image_tag 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg', class:'cardimage'
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title シュプリーム新着アイテム
          = link_to root_path do
            .itemlist__top-more もっと見る
        .itemlist__main
  .createbutton
    = link_to new_item_path do
      .createbutton__link
        .createbutton__link__bg
          .createbutton__link__bg-text 出品
          %svg.createbutton__link__bg-icon{"aria-hidden": "true", height: "16", viewbox: "0 0 18 16", width: "18"}
            %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule": "nonzero"}
  %aside.bottom
    .aaa
    .bottom__contents
      .bottom__contents__centerd
        .bottom__contents__centerd__left
          .bottom__contents__centerd__left-title スマホでかんたんフリマアプリ
          .bottom__contents__centerd__left-sub 今すぐ無料ダウンロード！
          .div
            = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png', class:'bottom__contents__centerd__left-img'
            = link_to root_path do
              = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class:'bottom__contents__centerd__left-app'
            = link_to root_path do
              = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class:'bottom__contents__centerd__left-ggl'
        %figure.bottom__contents__centerd__right
          = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png', class:'bottom__contents__centerd__right-smartphone'
= render "shared/footer"