%body
  .before
    .top-header
      = link_to "https://www.mercari.com/jp/" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2687693852",class: "top-header-image"

    .before-contents
      .before-contents-info
        .before-contents__header
          購入内容の確認
        .before-contents__item
          .before-contents__item__box
            .before-contents__item__box__image
              = image_tag "#{@item.images[0].image.url}"
              
            .before-contents__item__box__title
              = @item.name
          .before-contents__item__price
            .before-contents__item__price__title
              = "¥#{@item.price}"
            .before-contents__item__price__tax
              送料込み
          .before-contents__item__point
            %input(type="button" value="ポイントはありません" class="before-contents__item__point__button")/

          .before-contents__item__pay
            .before-contents__item__pay__title
              支払い金額
            .before-contents__item__pay__price
              = "¥#{@item.price}"

          .before-contents__item__buy
            - if @item.seller_id != current_user.id && @item.buyer_id == nil && @card.blank? == false
              = form_tag(pay_items_path, method: :post) do
                %button.before-contents__item__buy 購入する
            - else
              .before-contents__item__cant 購入できません


        .before-contents-delivery
          .before-contents-delivery__box
            .before-contents-delivery__box__destination
              配送先
              
            %address.before-contents-delivery__box__address
              〒100-8111 
              %br/
              東京都千代田区千代田１−１
              %br/
              松田  隆一
            .before-contents-delivery__box__change
              = link_to "変更する", root_path
              %i.fa.fa-arrow-right

        .before-contents-pay
          .before-contents-pay__box
            .before-contents-pay__box__method
              お支払い方法
            .before-contents-pay__box__information
              - if @card.blank?
                クレジットカードがありません追加してください

              - else
                %label 登録クレジットカード情報
                %br
                = "**** **** **** " + @default_card_information.last4
                %br
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year

            .before-contents-delivery__box__change
              = link_to "変更する", credit_user_path
              %i.fa.fa-arrow-right

    .under-footer
      .under-footer__content
        %nav.under-footer__content__nav
          %ul
            %li
              プライバシーポリシー
            %li
              メルカリ利用規約
            %li
              特定商取引に関する表記
        .under-footer__content__icon
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2687693852"
          .under-footer__content__logo
            %small
              © 2019 Mercari