= render "shared/header"

.item-show-page
  .item-box-container
    %h1.item-name
      = @item.name
    %p.item-wording
      = "#{@item.name}は" 
      = link_to @seller, root_path
      さんから出品されました。"
      = link_to "ダイエット食品/コスメ・香水・美容", root_path
      の商品で、
      = @item.region
      = @item.senddate
      で発送されます。
    .item-main-content
      .item-main__photo
        = image_tag "#{@item.images[0].image.url}", class: "item-main__photo__display"
        .item-main__photo__dots
          - @item.images.each do |image|
            = image_tag("#{image.image.url}", class: "item-main__photo__dot")
      %table.item-main__detail-table
        .item-tbody
          %tr.item-main__tr
            %th.item-main__th 出品者
            %td.item-main__td
              = link_to @seller, root_path
          %tr.item-main__tr
            %th.item-main__th カテゴリー
            %td.item-main__td
              %ul
                %li
                  = link_to @item.category.parent.parent.name, root_path
                %li
                  = fa_icon 'chevron-right', class: "item-icon"
                  = link_to @item.category.parent.name, root_path
                %li
                  = fa_icon 'chevron-right', class: "item-icon"
                  = link_to @item.category.name, root_path
          %tr.item-main__tr
            %th.item-main__th ブランド
            %td.item-main__td
              = link_to "伊藤園", root_path
          %tr.item-main__tr
            %th.item-main__th 商品の状態
            %td.item-main__td
              = @item.quality
          %tr.item-main__tr
            %th.item-main__th 配送料の負担
            %td.item-main__td
              = @item.fee
          %tr.item-main__tr
            %th.item-main__th 配送の方法
            %td.item-main__td
              = @item.sendmethod
          %tr.item-main__tr
            %th.item-main__th 配送元地域
            %td.item-main__td
              = @item.region
          %tr.item-main__tr
            %th.item-main__th 発送日の目安
            %td.item-main__td
              = @item.senddate
    .item-price-box
      %span.item-price
        = "¥#{@item.price}"
      %span.item-tax  (税込)
      %span.item-shipping-fee 送料込み
    = link_to "購入画面に進む", root_path, class: "item-buy-btn"
    .item-description
      %p.item-description__inner
      = @item.description
    .item-button-container
      .item-button-container__right
        = fa_icon 'lock', class: "item-icon"
        = link_to "あんしん・あんぜんへの取り組み", "https://www.mercari.com/jp/safe/description/"
  %ul.nav-item-link
    %li.nav-item-link__prev
      = fa_icon 'chevron-left', class: "item-icon"
      = link_to "仙豆", "https://item.mercari.com/jp/m64932391220/"
    %li.nav-item-link__next
      = link_to "いちご大福", "https://item.mercari.com/jp/m99070878228/?_s=U2FsdGVkX1-fDbQC84Pn1mXA09HDCppYAvpwWQ4aNr1zq6eRGQ8eR5XHoZ7NX-LLr7d7SS8rKeDVDqa1jAXYmiGS0xp5efAorsrsJ8dmCz6RXyIiXPcipQIpYjrZiJOa"
      = fa_icon 'chevron-right', class: "item-icon"
  .item-social-media-box
    %ul.social-media-box
      %li
        =link_to "https://www.facebook.com/", class: "social-media-box__facebook" do
          = fa_icon 'facebook-square', class: "social-media-box__facebook__icon"
      %li
        =link_to "https://www.facebook.com/", class: "social-media-box__twitter" do
          = fa_icon 'twitter', class: "social-media-box__twitter__icon"
      %li
        =link_to "https://www.facebook.com/", class: "social-media-box__pinterest" do
          = fa_icon 'pinterest', class: "social-media-box__pinterest__icon"
  .items-in-user-profile
    = link_to "#{@sellerName}さんのその他の出品", item_path, class: "items-box-head"
    .items-box-content
      = render partial: "items/item_card", locals: { item: @item }, class: "timeline-container__post-contents"
  .items-in-user-profile
    = link_to "伊藤園のダイエット食品/コスメ その他の商品", item_path, class: "items-box-head"
    .items-box-content
      = render partial: "items/item_card", locals: { item: @item }, class: "timeline-container__post-contents"
= render "shared/footer"
