= render "shared/header"

.item-box-container
  %h1.item-name
    開運サプリメント
  %p.item-wording
    『開運サプリメント』は
    = link_to "戸愚呂兄弟「弟」", root_path
    さんから出品されました。
    = link_to "ダイエット食品/コスメ・香水・美容", root_path
    の商品で、未定から2~3日で発送されます。
  .item-main-content
    .item-main__photo
      .item-main__photo__display
      .item-main__photo__dots
        .item-main__photo__dot1
        .item-main__photo__dot2
        .item-main__photo__dot3
        .item-main__photo__dot4
    %table.item-main__detail-table
      .item-tbody
        %tr.item-main__tr
          %th.item-main__th 出品者
          %td.item-main__td
            = link_to "戸愚呂兄弟「弟」", root_path
        %tr.item-main__tr
          %th.item-main__th カテゴリー
          %td.item-main__td
            %ul
              %li
                = link_to "コスメ・香水・美容", root_path
              %li
                = fa_icon 'pied-piper-alt', class: "icon-arrow-right"
                = link_to "ダイエット", root_path
              %li
                = fa_icon 'pied-piper-alt', class: "icon-arrow-right"
                = link_to "ダイエット食品/コスメ", root_path
        %tr.item-main__tr
          %th.item-main__th ブランド
          %td.item-main__td
            = link_to "伊藤園", root_path
        %tr.item-main__tr
          %th.item-main__th 商品の状態
          %td.item-main__td 18年前に開封済み
        %tr.item-main__tr
          %th.item-main__th 配送料の負担
          %td.item-main__td 送料込み(購入者負担)
        %tr.item-main__tr
          %th.item-main__th 配送の方法
          %td.item-main__td 普通郵便(定形、定形外)
        %tr.item-main__tr
          %th.item-main__th 配送元地域
          %td.item-main__td カリフォルニア
        %tr.item-main__tr
          %th.item-main__th 発送日の目安
          %td.item-main__td 2~3日で発送
  .item-price-box
    %span.item-price ¥300,000
    %span.item-tax  (税込)
    %span.item-shipping-fee 送料込み
  = link_to "購入画面に進む", root_path, class: "item-buy-btn"
  .item-description
    %p.item-description__inner
    買え。
  .item-button-container
    .item-button-container__right
      = fa_icon 'github', class: "icon-arrow-right"
      = link_to "あんしん・あんぜんへの取り組み", "https://www.mercari.com/jp/safe/description/"
  %ul.nav-item-link